In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [30]:
df = spark.read.json('data/people.json')

In [31]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [33]:
df.columns

['age', 'name']

In [34]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [35]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [36]:
data_schema = [StructField('age', IntegerType(), True),
                StructField('name', StringType(), True)]

In [37]:
final_struc = StructType(fields=data_schema)

In [38]:
new_df = spark.read.json('data/people.json', schema=final_struc)

In [39]:
new_df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [41]:
new_df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
new_df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [43]:
type(new_df['age'])

pyspark.sql.column.Column

In [44]:
from pyspark.sql.functions import date_format, current_timestamp
new_df.withColumn('yearOfBorn', date_format(current_timestamp(),'y') - new_df.age).show()

+----+-------+----------+
| age|   name|yearOfBorn|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|    1995.0|
|  19| Justin|    2006.0|
+----+-------+----------+

In [45]:
new_df.createOrReplaceTempView('people')